@{
    Layout = null;
}
@model IEnumerable<NLayerApp.ViewModel.ItemViewModel>
<div class="content" ng-show="loaded">
    <table class="table">
        <tr>

            <th>
                @ResourceViewModel.ResourceView.NameItem
            </th>
            <th>
                @ResourceViewModel.ResourceView.DescriptionItem
            </th>
            <th>
                @ResourceViewModel.ResourceView.SumItem
            </th>
            <th></th>
        </tr>

        <tr ng-repeat="modelItem in modelItems">
            <td>
                {{modelItem.Name}}
            </td>
            <td>
                {{modelItem.Description}}
            </td>
            <td>
                {{modelItem.Sum}}
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@            
                <a href="javascript:void(0);" ng-click="deleteAPI(modelItem.Id)">@ResourceViewModel.ResourceView.DeleteItem</a>
            </td>
        </tr>


    </table>
</div>