@model IEnumerable<NLayerApp.ViewModel.StoreViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<body ng-app="itemApp">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div ng-controller="ItemsController">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpenningTimes)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpenningTimes)
                    </td>
                    <td>
                        
                        @Html.ActionLink("Добавить товар", "MakeItem", new { id = item.Id }) |
                        <a href="javascript:void(0);" ng-click="load(@item.Id)">показать товар</a>
                    </td>
                </tr>
            }


        </table>
        <hr />
        <ng-include src="'@Url.Action("IndexItems", "Home")'"></ng-include> 
    </div> 
</body>